{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4 fw-bold">New Arrivals</h2>

    <div class="row">
        {% for product in products %}
      <div class="col-md-6 mb-4">
    <div class="card product-card position-relative shadow-sm border-0">

        <!-- NEW Badge -->
        <span class="new-badge">NEW</span>

        <img src="{{ product.image.url }}" class="card-img-top p-3" style="height: 250px; object-fit: contain;">

        <div class="card-body text-center">
            <h5>{{ product.name }}</h5>
            <p class="text-success fw-bold">₹{{ product.price }}</p>
    

        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}