{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4 fw-bold">New Arrivals</h2>

    <div class="row">
        {% for product in products %}
        <div class="col-md-6 mb-4">

            <div class="card shadow-sm h-100 border-0">
                
                <img src="{{ product.image.url }}" class="card-img-top p-3" style="height: 250px; object-fit: contain;">
                
                <div class="card-body">
                    <h5 class="card-title fw-semibold">{{ product.name }}</h5>
                    <p class="text-success fw-bold">₹{{ product.price }}</p>

                    <button class="btn btn-warning w-100">
                        🛒 Add to Cart
                    </button>
                </div>

            </div>

        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}